hr {
  position: relative;
  margin: 40px auto;
  border: 2px dashed var(--hr-border);
  width: calc(100% - 4px);
}

hr:hover:before {
  left: calc(95% - 20px);
}

hr:before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: var(--hr-before-color);
  content: '\f0c4';
  font-size: 20px;
  line-height: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
